
/*  GLOBAL  */
:root {
    --clr-primary: #3232ff;
    --clr-secondary: #40a0ff;
    --clr-warning: #ffa040;
    --clr-danger: #ff3232;
    --clr-blood: #880808;
    --clr-success: #008000;
    --clr-lightsuccess: #66b266;
    --clr-info: #a040ff;
    --clr-light: #ffff40;
    --clr-dark: #333;
    --clr-bg-header: #b4dbaf;
    --clr-bg-header-dark: #83c37a;
}



/*  TYPOGRAPHY  */
@font-face {
    font-family: 'kaushan_scriptregular';
    src: url('../css/font/kaushanscript-regular-webfont.woff2') format('woff2'),
         url('../css/font/kaushanscript-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

h1,h2,h3,h4,h5 {
	font-family:kaushan_scriptregular, 'Trechet MS', Arial, sans-serif;
}

h1{
	color:var(--clr-primary);
	border-radius: 0.5em;
	padding-left: 1em;
}

h2{
	color:var(--clr-blood);
}

h3{
	color:var(--clr-success);
}

h4,h5{
	color:var(--clr-dark);
}

.unofficial{
	font-style: italic;
	color: var(--clr-info);
}

.bold {
    font-weight: bold;
}

/*  LAYOUT  */
* {
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    margin: 2em 16.66%;
    background-color: white;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/*  layout: header  */
.header{
    font-family:kaushan_scriptregular, 'Trechet MS', Arial, sans-serif;
    background :linear-gradient(to left, var(--clr-bg-header), 30%, white 75%);
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    box-shadow: 5px 2px 3px var(--clr-dark);
    border-radius: 5px;
}

    /***  TRY  **/
.header1 {
    font-family:kaushan_scriptregular, 'Trechet MS', Arial, sans-serif;
    background :linear-gradient(to left, var(--clr-bg-header), 30%, white 75%);
    width: 100%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 5px 2px 3px var(--clr-dark);
    border-radius: 5px;
}

.header-title h2 {
    font-size: 2em;
}

    /***  end TRY  **/
.logo {
    padding: 10px;
    max-width: 150px;
}

nav {
    display: flex;
    justify-content: center;
    font-weight: bold;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;

    
}

nav li {
    margin-bottom: 1em;
    margin-left: 1em;
}

nav li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 5px;
}

nav li a:hover, .dropdown:hover .dropbtn {
    background-color: green;
    color: lightyellow;
    /* text-transform: uppercase; */
    font-weight: 300;
}

nav li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--clr-lightsuccess);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 6px 8px;
    text-decoration: none;
    display: block;
    text-align: center;
}

.dropdown-content a:hover {
    color: hsl(0, 89%, 28%);
    background-color: lightgreen;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
    width: 16%;
    border-radius: 0.5em;
}

/*   SIDE MENU   */
.image_centre {
    display: flex;
	flex-direction: column;
}

.image_centre img{
	margin: auto;
	margin-bottom: 1em;
	border-radius: 0.5em;
	max-width: 100%;
}

 /* Fixed sidenav, full height */
 .sidenav {
    height: 100%;
    width: 16.66%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 2em;
  }
  
  /* Style the sidenav links and the dropdown button */
  .sidenav a, .dropdown-btn {
    padding: 0.2em 0.5em 0.2em 1.5em;
    text-decoration: none;
    font-size: 1.1em;
    color: var(--clr-primary);
    display: block;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    font-family:kaushan_scriptregular, 'Trechet MS', Arial, sans-serif;
  }
  
  /* On mouse-over */
  .sidenav a:hover, .dropdown-btn:hover {
    color: var(--clr-blood);
  }
  
  /* Add an active class to the active dropdown button */
  .active {
    /* background-color: var(--clr-lightsuccess); */
    color: var(--clr-blood);
    font-weight: bold;
  }
  
  /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
  .dropdown-container {
    display: none;
    background-color: white;
    padding-left: 1.5em;
  }

  .dropdown-container > a {
      padding-left: 2.5em;
  }
 
  .even-columns {
    display: flex;
    gap: 1em;
  }
  
  .even-columns > * {
    width: 100%;
  }

  .shadow {
    box-shadow: 0.8em 0.5em 0.5em black;
  }

  .rounded {
      border-radius: .6em;
  }

/*  layout: footer  */
footer {
    margin-top: 20px;
    background: lightgray;
    border-top: 3px double darkgreen;
    margin-top: auto;
    box-shadow: 5px 2px 3px var(--clr-dark);
    border-radius: 5px;
    text-align: center;
}

/*  COMPONENT  */
.inline-content {
    display: flex;
}

.center-content {
    justify-content: center;
}

.center-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-horiz{
    align-items: center;
}

.feat-header{
    border-top: 2px solid var(--clr-dark);
    display: flex;
    justify-content: space-between;
}

.btn-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.btn-label {
    display: block;
    background-color: var(--clr-bg-header);
    width: fit-content;
    margin: 0.5em;
    padding-left: .5em;
}

.larger{
    width: 100%;
}

.toggle-off {
    display: none;
}

/*  component: ALERT  */
.alert{
    margin: 1em;
    padding: 1em;
    border-radius: 4px;
}

.alert-danger{
    border: 3px double #c80f3b;
    background-color: var(--clr-warning);
}

/*  component: BUTTON  */
.btn {
    color: var(--clr-blood);
    margin: 4px 0.5em;
    padding: 6px 8px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    font-weight: 400;
    box-shadow: 5px 2px 3px var(--clr-dark);
    font-family:kaushan_scriptregular, 'Trechet MS', Arial, sans-serif;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--clr-primary);
}

.btn-primary:hover {
    color: var(--clr-light);
}

.btn-secondary {
    background-color: var(--clr-secondary);
}

.btn-secondary:hover {
    color: var(--clr-light);
    background-color: var(--clr-primary);
}

.btn-danger {
    background-color: var(--clr-danger);
}

.btn-danger:hover {
    color: var(--clr-light);
}

.btn-success {
    background-color: var(--clr-success);
}

.btn-success:hover {
    color: var(--clr-light);
}

/*  component: CHECKBOX  */
.chk-box {
    display: flex;
    flex-wrap: wrap;
}



/*  component: FORM  */
.form-1{
    padding: 1em;
    border:none;
    border-radius: 4px;
    box-shadow: 5px 2px 3px black;
    background: linear-gradient(to top left, var(--clr-light), white);
    align-items: center;
    margin-bottom: 20px;
}

.form-group{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;    
    width: auto;    
}

.form-div div{   
	display: flex;
	align-items: center;
    justify-content: center;
	flex-direction: column;
    width: auto;    
}

.form-group-h{
    display: flex;
    align-items: center;
    margin-bottom: 0;    
    width: auto;  
}

.form-control {
    font-size: 1.2em;
    margin: 0.5em 1em;
    padding: 0.2em 0.5em;
    height: 2em;
    width: auto;
    border: 0.2em solid lightblue;
    border-radius: 0.5em;
}

.form-flex {    
    display: flex;
    flex-direction: column;
}

.size-XL {
    width: 100%;
}

.frm-input {
    width: inherit;
}

.frm-input div {    
    display: grid;
    grid-template-columns: repeat(5, 1fr);	
	grid-template-rows: auto;								
	grid-gap: 0px;											
	grid-template-areas: 
    "frminlbl frminin frminin frminin frminin";
}

.frm-input div label {
    margin: auto;
    padding: 0 1em;
    grid-area: frminlbl;
}

.frm-input div input {
    padding: 0 1em;
    grid-area: frminin;
}

.frm-select {
    width: inherit;
}

.frm-select div {    
    display: grid;
    grid-template-columns: repeat(5, 1fr);	
	grid-template-rows: auto;								
	grid-gap: 0px;											
	grid-template-areas: 
    "frmsllbl frmslin frmslin . .";
}

.frm-select div label {
    margin: auto;
    padding: 0 1em;
    grid-area: frmsllbl;
}

.frm-select div select {
    padding: 0 1em;
    grid-area: frmslin;
}

.frm-textarea {
    width: inherit;
}

.frm-textarea div {    
    display: grid;
    grid-template-columns: repeat(5, 1fr);	
	grid-template-rows: auto;								
	grid-gap: 0px;											
	grid-template-areas: 
    "frmtxlbl frmtxin frmtxin frmtxin frmtxin";
}

.frm-textarea div label {
    margin: auto;
    padding: 0 1em;
    grid-area: frmtxlbl;
}

.frm-textarea div textarea {
    padding: 0 1em;
    grid-area: frmtxin;
    height: 3em;
}

.frm-radio {
    width: inherit;
}

.frm-radio > div {    
    display: grid;
    grid-template-columns: repeat(5, 1fr);	
	grid-template-rows: auto;								
	grid-gap: 0px;											
	grid-template-areas: 
    "frmsllbl frmslin frmslin . .";
}

.frm-radio div label {
    margin: auto;
    padding: 0 1em;
    grid-area: frmsllbl;
}

.frm-radio div div {
    padding: 0 1em;
    grid-area: frmslin;
}

.frm-ok {
    width: auto;
    margin: auto;
    padding: 0 2em;
}

#filter-form {
    display: none;
}

input-large{
    display: block;
    width: 100%;
}

/*  component: LINK  */
.button{    
    padding: 6px 8px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border-radius: 4px;
    box-shadow: 5px 2px 3px var(--clr-dark);
    cursor: pointer;
}

.button:hover{
    color: #f7f7f7;
	background-color: var(--clr-primary);
}

/*  component: SECTION  */


/*  component: TABLE  */
.table{    
	border-top: 2px solid var(--clr-dark);
	border-collapse: separate;
	padding: 5px;
    text-align: center;
    box-shadow: 0.8em 0.5em 0.5em var(--clr-dark);
    border-radius: .5em;
}

.table th{
    text-transform: uppercase;
    background: linear-gradient(white, var(--clr-success));
}

.table th, table td {
    border-top: 2px solid var(--clr-dark);
}

.table tr:nth-child(even){
    background: linear-gradient(white, var(--clr-bg-header));
}

.table0{
	border: 2px solid black;
	border-collapse: separate;
	padding: 1px;
	text-align: center;
	border-radius: 5px;
	box-shadow: 10px 5px 5px black;
    margin: 1em;
}

.table-large{
    width: 80%;
}

.table-XL{
    width: 100%;
}

.table-center {
    margin: auto;
}

.table-font {
    font-family:kaushan_scriptregular, 'Trechet MS', Arial, sans-serif;
}

.table-roll th:first-child{
	width: 12%;
}

.col-2 td {
    width: 100%;  
    align-items: center;  
}

.col-3 td {
    width: auto;  
    align-items: center; 
    padding: 0 1em; 
}

.col-4 td {
    width: 100%;    
    min-width: 5em;
    align-items: center;  
}

.table_money tr:nth-child(1){	/*	Platinum */
	background: linear-gradient(#faf0c5, #fcf6dc);
}

.table_money tr:nth-child(2){	/*	Gold */
	background: linear-gradient(#ffd700, #ffe766);
}

.table_money tr:nth-child(3){	/*	Electrum */
	background: linear-gradient(#e7c697, #f0dcc0);
}

.table_money tr:nth-child(4){	/*	silver */
	background: linear-gradient(#c0c0c0, #dfdfdf);
}

.table_money tr:nth-child(5){	/*	copper */
	background: linear-gradient(#b36700, #d1a366);
}

/*  RESPONSIVE  */
@media screen and (max-width:1024px){    /*  TABLETTE    */
    body{
        margin: 0em 5%;
        background-color: lightgoldenrodyellow;    /* DEBUG */
    }

    /* .sidenav {
        display: none;
    } */

    .sidenav {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        height: auto;
        width: 100%;
        position: relative;
        margin-top: 0;
        margin-bottom: 1em;
        padding: 1em 0.5em;
        z-index: 0;
        background-color: #fff;
        box-shadow: 0.8em 0.5em 0.5em black;
        border-radius: .5em;
        background :linear-gradient(to right, var(--clr-bg-header), 30%, white 75%);
      }
      
    .sidenav > * {
        width: auto;
    }

    /* Style the sidenav links and the dropdown button */
    .sidenav a, .dropdown-btn {
        text-align: center;
        padding: .2em 0.5em;
        color: var(--clr-primary);
        cursor: pointer;
        outline: none;
        font-family:kaushan_scriptregular, 'Trechet MS', Arial, sans-serif;
    }

    .dropdown-btn {
        margin: 0.2em;
        box-shadow: 0.8em 0.5em 0.5em black;
        border-radius: .5em;
        background-color: var(--clr-secondary);
    }
    
    /* On mouse-over */
    .sidenav a:hover, .dropdown-btn:hover {
        color: var(--clr-blood);
    }

    .dropdown-container {
        display: none;
        position: absolute;
        left: -1000px;
    }

    .dropdown-container > a {
        display: none;
        visibility: hidden;
    }

    .top-link {
        display: none;
    }
}

@media screen and (max-width:600px){    /*  PORTABLE    */
    body{
        margin: 0em 5%;
        background-color: lightseagreen;    /* DEBUG */
    }

    .header-top {
        flex-direction: column;
    }

    .form-creature {
        display: grid;
        grid-template-columns: 1fr;	
        grid-template-rows: auto auto auto auto auto auto auto auto;								
        grid-gap: 0px;											
        grid-template-areas: 
        "creature-name"
        "creature-type"
        "creature-size"
        "creature-cr"
        "creature-algmt"
        "creature-src"
        "creature-page"
        "creature-submit";
    }

    .table {
        width: 90%;
    }

    /* .table thead {
        display: none;
    } */
    
    .table tbody {
        width: 100%;
    }

    .table tr{
        display: block;
        margin-bottom: 2em;
        box-shadow: 5px 2px 3px var(--clr-dark);
        border-radius: 5px;
    }

    .table th {
        display: flex;
        justify-content: center;
    }

    .table td.btn {
        margin: 0;
    }
    
    .table td {
        display: block;
        text-align: right;
        padding: .5em;
    }
    
    .table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
    }

    .list {
        list-style: none;
        padding: 0;
    }

    .list > li {
        line-height: 1.5em;
    }

    .btn-label {
        display: flex;
        flex-direction: column;
        padding: .5em;
    }
}