{% extends 'base.html.twig' %}
{% block body %}
<h1>Donjons & Dragons 5e</h1>
<p>Ce site a pour but de servir de référence pour les joueurs de Donjons & Dragons 5e des parties que j'organise afin de retrouver rapidement un point de règles, un sort, etc....</p>
<p>Liste des dons</p>
<p>Liste des créatures des différents bestiaires</p>
<p>Convertisseur d'unité Impériales-SI</p>
<div>
    <h2>Liens utiles</h2>
    <div>
        <h3>Divers sites</h3>
        <div>
            <h4><a href="http://rolladvantage.com/tokenstamp/">Rolladvantage (EN)</a></h4>
            <p>Création de token simple et rapide.</p>
        </div>
        <div>
            <h4><a href="https://www.fantasynamegenerators.com/">Fantasy Name Generator (EN)</a></h4>
            <p>Générateur de nom de créature ou lieu de tout type.</p>
        </div>
    </div>
    <div>
        <h3>Forums</h3>
        <div>
            <h4><a href="https://www.dndbeyond.com/forums">DnD Beyond (EN)</a></h4>
            <p>D&D 5e. Forum de conseils et d'optimisation de DnD Beyond.</p>
        </div>
        <div>
            <h4><a href="https://forums.giantitp.com/forumdisplay.php?63-D-amp-D-5e-Next">Giant in the Playground (EN)</a></h4>
            <p>D&D 5e. Forum de conseils et d'optimisation avec un section pour des guides.</p>
        </div>
    </div>
    <div>
        <h3>Youtube</h3>     
        <div>
            <h4><a href="https://www.youtube.com/channel/UCD6ERRdXrF2IZ0R888G8PQg">Dungeon Craft (EN)</a></h4>
            <p>Conseils et astuces au MJ (idées extrèmes). D&D 5e.</p>
        </div> 
        <div>
            <h4><a href="https://www.youtube.com/c/HowtobeaGreatGM/featured">How to be a Great GM (EN)</a></h4>
            <p>Conseils et astuces au MJ. D&D 5e.</p>
        </div>
        <div>
            <h4><a href="https://www.youtube.com/channel/UC0GmsDkaPerh1VdAfpWaaKA">Jorphdan (EN)</a></h4>
            <p>Histoire et détails sur les différents monde D&D.</p>
        </div>
        <div>
            <h4><a href="https://www.youtube.com/user/mcolville">Matthew Colville (EN)</a></h4>
            <p>Conseils et astuces au MJ d'un MJ Professionel. D&D 5e.</p>
        </div>
        <div>
            <h4><a href="https://www.youtube.com/user/Nerdarchy">Nerdarchy (EN)</a></h4>
            <p>Conseils et astuces au MJ. D&D 5e. Analyses des suppléments officiels ou non.</p>
        </div>
        <div>
            <h4><a href="https://www.youtube.com/user/nerdimmersion">Nerd Immersion (EN)</a></h4>
            <p>D&D 5e. Analyses des suppléments officiels ou non. Conseils et astuces au MJ d'un MJ.</p>
        </div>
        <div>
            <h4><a href="https://www.youtube.com/channel/UCQs8-UJ7IHsrzhQ-OQOYBmg">Seth Skorkowsky (EN)</a></h4>
            <p>Conseils au MJ. Cthulhu. Analyse des scenérii de CoC.</p>
        </div>
        <div>
            <h4><a href="https://www.youtube.com/channel/UCly0Thn_yZouwdJtg7Am62A">Taking20 (EN)</a></h4>
            <p>D&D 5e. Conseils et astuces au MJ d'un MJ. Analyses des suppléments officiels ou non.</p>
        </div>
        <div>
            <h4><a href="https://www.youtube.com/channel/UCr7N1om5-7UemjK_stlAuTw">Treantmonk's Temple (EN)</a></h4>
            <p>D&D 5e. Chaine d'optimisation. Compare en argumantant la valeur des différentes classes, sorts, etc...</p>
        </div>
        <div>
            <h4><a href="https://www.youtube.com/user/WASD20Nate">WASD20 (EN)</a></h4>
            <p>Conseils et astuces au MJ. D&D 5e. Pleins de conseils sur l'utilisation de cartes.</p>
        </div>
        <div>
            <h4><a href="https://www.youtube.com/channel/UC7XFmdssWgaPzGyGbKk8GaQ">Web DM (EN)</a></h4>
            <p>Conseils et astuces au MJ. D&D 5e. Analyses des suppléments officiels ou non.</p>
        </div>        
        <div>
            <h4><a href="https://www.youtube.com/c/ZitermanSamuel/featured">Ziterman Samuel (FR)</a></h4>
            <p>Conseils et astuces au MJ. Tuto Roll20.</p>
        </div>
    </div>
    <div>
        <h3>Musique</h3>
        <div>
            <h4><a href="https://www.youtube.com/channel/UCa3SDs8cPme7tD9S8BIVYrw">Everness (EN)</a></h4>
            <p>Chaine youtube avec les musique de Skyrim, WoW.</p>
        </div>
    </div>
</div>
{% endblock %}